/*Margins for the whole project*/
#margin{
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
}
/* individual IDs*/
#Nav-Bar{margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	border: 5px solid rgb(159, 11, 15);
	border-radius: 5px;
	background-color: black;
}
#Cav-banner{ /*linked to first img*/
	width: 100%;
	height: 300px;
	border-radius: 5px;
	border: 5px solid rgb(159, 11, 15);
}
#Footer{
	text-align: left;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	background-color: rgb(246, 241, 155);
	height: 50px;
}
/*Store classes and IDs*/
#store {
	float: right;
}
.store{
	 display: inline-grid right;
}
.Login{
	color: rgb(76, 255, 0);
	text-align: right;
}
.storefonts{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}
/*Image classes and IDs*/
#mainproduct{
	width: 393px;
	height: 339px;
	border: 1px solid black;
	border-radius: 5px;
	
	}
.ts{
	width:152px;
	height:182px;
	border: 1px solid black;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
}
/*different colors for the links that are avaible*/
	a:link {color: rgb(159, 11, 15);}
	a:visited {color: rgb(76, 255, 0);}
	a:hover {color: rgb(223,216,113);}
	a:active {color: rgb(76,255,0);}
/*proper alignment and setting for iframes*/
#Youtube{
	text-align: center;
}
/*sizing and alignment for social media links*/
.sociallogo{
	width:25px;
	height: 25px;
	margin-left: 5px;
	margin-right: 5px;
}