h1 {
	text-align: center; 

}
.Margins-and-Padding{
	text-align: center;
}
#IMG{
	width: 800px;
	height: 440px;

}
.Margins{
	border: 2px solid blue;
/*	margin-top: 75px; 
	margin-right: 75px;
	margin-bottom: 75px;
	margin-left: 75px;*/
	margin: 10px 10px 10px 10px;
}
.margins-padding{
border: 2px dashed green;
border-radius: 10px;
margin: 50px 50px 50px 50px;
padding: 25px 25px 25px 25px;

}

.margin-experiment{
height: 40px;
background-color: lightblue;
margin:  0px 0px 0px 0px;
border: 5px solid pink;
padding: 5px 5px 5px 5px;

}
#circle{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	border-radius: 50px;
	margin: 20px 0px 0px 20px;
	position: absolute;
}
#square{
	width: 100px;
	height: 100px;
	border: 2px solid black;
	border-radius: 0px;
	margin: 20px 0px 0px 150px;
	position: absolute;
}